@{ 
    var controllerName = ViewContext.RouteData.Values["Controller"];
    var baseUrl = Url.Action("", "", null, this.Context.Request.Scheme);
    var username = "Username";
    ViewBag.baseUrl = baseUrl;
    ViewBag.controller = controllerName;
    ViewBag.username = username;
    //ViewBag.Language = Session["Language"] ?? "id";
    //ViewBag.Flag = Session["Flag"] ?? "flag-icon-id";
    //ViewBag.SidenavLock = Session["SidenavLock"] ?? true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HeadTag" />
    @RenderSection("Styles", required: false)
</head>
<body id="cadenzapp">
    <partial name="_Header" />
    <partial name="_Sidenav" />
    <div id="main" class="grey lighten-3">
        <div class="row">
            <div class="col s12">
                <div class="container">
                    <div class="section">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
        <div class="footer-copyright">
            <span>&copy; 2020 CadenzApp</span>
            <span class="right hide-on-small-only">
                Created as part of Digital Media Studio Capstone project
            </span>
            <span class="right hide-on-med-and-up show-on-small">
                Digital Media Studio Capstone project
            </span>
        </div>
    </footer>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script type="text/javascript" src="~/lib/materialize/js/materialize.js"></script>*@
    <script>
        var baseUrl = "@ViewBag.baseUrl";
        var controller = "@ViewBag.Controller";
        //Opens sidenav collapsibles on page init, has to be done before plugins.js
        $("document").ready(function () {
            var lang = "@ViewBag.Language";

            var link = $("a.sidenav-link[href='/" + controller + "']");
            if (link.length) {
                $("a.sidenav-link").removeClass("active");
                link.addClass("active");
                if (link.parents(".collapsible-body").length) {
                    link.parent().addClass("active");
                    link.parents(".collapsible-body").parent().addClass('active');
                }
            }

            $('.scrollspy').scrollSpy();
        });

    </script>
    <script type="text/javascript" src="~/lib/materialize/js/vendors.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/plugins.js"></script>
    <script type="text/javascript" src="~/lib/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/vendors/sweetalert/sweetalert.min.js"></script>
    <script type="text/javascript" src="~/js/sweetalert2-extension.js"></script>
    <script type="text/javascript" src="~/js/Layouts/Sidenav.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/js/preloader.js"></script>
    <script>
        $('.dropdown-trigger').dropdown();
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            container: 'body'
        });
        $('.modal').modal();
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
