<!DOCTYPE html>
<html>
@{
    ViewData["Title"] = "Dashboard";
}

<head>
    <style>
        .column {
            float: left;
            width: 56%;
            padding: 10px;
        }

        .column2 {
            float: left;
            width: 44%;
            padding: 10px;
        }
    </style>
</head>
<!--Main Dashboard-->
<div class="row">
    <div class="column">
        <div class="card">
            <div class="card-image">
                <img src="@Url.Content("~/images/tasks2.png")">
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card">
            <div class="card-image">
                <img src="@Url.Content("~/images/hours2.png")">
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="card">
            <div class="card-image">
                <img src="@Url.Content("~/images/uploads.png")">
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
          <div class="col s12 m4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title" style="padding: 5px 16px">
                            <h6 class="">
                                Notifications
                            </h6>
                            <p class="medium-small mt-2 mb-1">Here are the new notifications since you last logged in:</p>
                            <div class="divider mt-2"></div>
                        </div>
                    </div>
                    <div class="card-content">

                        <ul class="collection">
                            <li class="collection-item avatar">
                                <a href="#" class="clickable-list">
                                    <img src="@Url.Content("~/images/Portrait_Placeholder.png")" class="circle">
                                    <span class="title">Anne Campbell</span>
                                    <p>Lorem</p>
                                </a>
                            </li>
                            <li class="collection-item avatar">
                                <a href="#" class="clickable-list">
                                    <img src="@Url.Content("~/images/Portrait_Placeholder.png")" class="circle">
                                    <span class="title">Peter Evans</span>
                                    <p>Lorem</p>
                                </a>
                            </li>
                            <li class="collection-item avatar">
                                <a href="#" class="clickable-list">
                                    <img src="@Url.Content("~/images/Portrait_Placeholder.png")" class="circle">
                                    <span class="title">Sarah Brown</span>
                                    <p>Lorem</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          <div class="col s12 m8 l8 animate fadeRight">
          </div>
        
    </div>
</div>
</html>